<h3>New book</h3>

<form>
    <%= form_with model: book do |f| %>
  <div class="form-group">
    <p>title</p>
    <%= f.text_field :title %>
    <p>option</p>
    <%= f.text_area :body %>
    <%= f.submit 'Create Book' %>
  <% end %>