<%= render 'users/userinfo', user: @book.user %>
<%= render 'new', book: @book %>

<p>Title</p>
<p>Option</p>
<% @books.each do |book| %>
  <div>
   <p><%= book.title %></p>
   <p><%= book.body %></p>
  </div>
<% end %>