<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h1 class="m-3">welcome to <strong><i class="fa-solid fa-book"></i>Bookers</strong>!!</h1>
      <p>In <strong><i class="fa-solid fa-book"></i>Bookers</strong>,</br></br>you can share and exchange your opinions , inpressions , and emotions</br></br>about various books!</p>
      <button type="button" class="btn btn-info btn-sm btn-block m-3"><%= link_to "Log in", new_user_session_path, :style =>"color:#ffffff;text-decoration:none;" %></button>
      <button type="button" class="btn btn-success btn-sm btn-block m-3"><%= link_to "Sign up", new_user_registration_path, :style =>"color:#ffffff;text-decoration:none;" %></button>
    </div>
  </div>
</div>